{% extends "::base.html.twig" %}

{% block title %}AppBundle:Armee:new{% endblock %}

{% block body %}
<h1>Welcome to the Armee:new page</h1>

<p>{{ fantassin.updateArmure }}</p>
<p>{{ fantassin.race }}</p>
<p>{{ fantassin.equipement }}</p>

<h2>fantassin 2</h2>

<p>{{ fantassin2.updateArmure }}</p>
<p>{{ fantassin2.race }}</p>
<p>{{ fantassin2.equipement }}</p>

{% endblock %}
